# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Raporty i dane
reports/
data/
*.txt
*.json
!requirements.txt

# Notebooks
*.ipynb
scenariusze_ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
